#‹¤’Ê
*.opensdf
*.sdf
*.suo
*.user

#GenerateDirectoryTree
GenerateDirectoryTree/bin
GenerateDirectoryTree/Debug
GenerateDirectoryTree/Release
GenerateDirectoryTree/ipch
GenerateDirectoryTree/GenerateDirectoryTree/Debug
GenerateDirectoryTree/GenerateDirectoryTree/Release

#FileAnalyzer
FileAnalyzer/FileAnalyzer/bin
FileAnalyzer/FileAnalyzer/obj

#ImageDivider
ImageDivider/ImageDivider/bin
ImageDivider/ImageDivider/obj

