#‹¤’Ê
*.opensdf
*.sdf
*.suo
*.user

#GenerateDirectoryTree
GenerateDirectoryTree/Debug
GenerateDirectoryTree/Release
GenerateDirectoryTree/ipch
GenerateDirectoryTree/GenerateDirectoryTree/Debug
GenerateDirectoryTree/GenerateDirectoryTree/Release

